[access]
	inheritFrom = tencentyun
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group user/larrytian (larrytin)
	push = group user/larrytian (larrytin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/larrytian (larrytin)
	label-Verified = -1..+1 group user/larrytian (larrytin)
	push = group user/larrytian (larrytin)
	read = group user/larrytian (larrytin)
	rebase = group user/larrytian (larrytin)
	removeReviewer = group user/larrytian (larrytin)
	submit = group user/larrytian (larrytin)
[access "refs/heads/*"]
	create = group user/larrytian (larrytin)
	push = +force group user/larrytian (larrytin)
	pushMerge = group user/larrytian (larrytin)
	read = group user/larrytian (larrytin)
[access "refs/tags/*"]
	push = group user/larrytian (larrytin)
	push = +force group user/larrytian (larrytin)
