<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qrcode" >

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity android:name=".ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"/>
        <activity android:name=".ShowResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"/>

    </application>

</manifest>
