<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.iot.explorer.link.core.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.tencent.iot.explorer.link.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.BindMobilePhoneActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ForgotPasswordActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.SetPasswordActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ShareDeviceListActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ShareDeviceActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ShareUserListActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.SelectRoomActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.WeekRepeatActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.AddTimingProjectActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.TimingProjectActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ConnectDeviceActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ScanBindActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.AddRoomActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.RoomActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.MemberActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.InviteMemberActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.RoomListActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.FamilyActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.AddFamilyActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.FeedbackActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.MessageActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.PersonalInfoActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.FamilyListActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ControlPanelActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.RegisterActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ConfigNetActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.QrcodeConfigNetActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ApConfigNetActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.WiredConfigNetActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.video.activity.VideoOptionsActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.video.activity.VideoInputAuthorizeActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.video.activity.VideoMainActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.video.activity.VideoNvrActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.video.activity.VideoPlaybackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.tencent.iot.explorer.link.demo.video.activity.VideoMultiPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.tencent.iot.explorer.link.demo.video.activity.VideoPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.tencent.iot.explorer.link.rtc.ui.audiocall.TRTCAudioCallActivity" />
        <activity android:name="com.tencent.iot.explorer.link.rtc.ui.videocall.TRTCVideoCallActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.LoginActivity" />
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.ModuleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.iot.explorer.link.demo.core.activity.AddDeviceActivity" />
    </application>

</manifest>