<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.tencent.iot.explorer.link">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读写短信的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" /> <!-- 腾讯地图新增开始 -->
    <!-- Android Q新增权限，允许应用在后台发起定位，如应用target为Q，请添加此权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 通过GPS得到精确位置 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 访问网络，某些位置信息需要从网络服务器获取 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> -->
    <!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--picture start-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--picture end-->

    <application
            android:name=".App"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            android:requestLegacyExternalStorage="true"
            tools:replace="android:allowBackup">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".kitlink.activity.DeviceCategoryActivity"/>
        <activity android:name=".kitlink.activity.DeviceInfoActivity" />
        <activity android:name=".kitlink.activity.SelectRoomActivity" />
        <activity android:name=".kitlink.activity.ShareActivity" />
        <activity android:name=".kitlink.activity.WeekRepeatActivity" />
        <activity android:name=".kitlink.activity.MemberActivity" />
        <activity android:name=".kitlink.activity.RoomActivity" />
        <activity android:name=".kitlink.activity.InviteMemberActivity" />
        <activity android:name=".kitlink.activity.FamilyAddressActivity" />
        <activity android:name=".kitlink.activity.FamilyListActivity" />
        <activity android:name=".kitlink.activity.ShareUserListActivity" />
        <activity android:name=".kitlink.activity.AddTimerActivity" />
        <activity android:name=".kitlink.activity.FamilyActivity" />
        <activity android:name=".kitlink.activity.RoomListActivity" />
        <activity android:name=".kitlink.activity.AddRoomActivity" />
        <activity android:name=".kitlink.activity.AddFamilyActivity" />
        <activity android:name=".kitlink.activity.CommentDetailsActivity" />
        <activity android:name=".kitlink.activity.CloudTimingActivity" /> <!-- 信鸽Android P -->
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />

        <activity android:name=".kitlink.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
                android:name=".kitlink.activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kitlink.activity.LoginActivity" />
        <activity android:name=".kitlink.activity.AccountAndSafetyActivity" />
        <activity android:name=".kitlink.activity.BindPhoneActivity" />
        <activity android:name=".kitlink.activity.BindEmailActivity" />
        <activity android:name=".kitlink.activity.ModifyPhoneActivity" />
        <activity android:name=".kitlink.activity.ModifyEmailActivity" />
        <activity android:name=".kitlink.activity.ModifyPasswordActivity" />
        <activity android:name=".kitlink.activity.LogoutActivity" />
        <activity android:name=".kitlink.activity.TimeZoneActivity" />
        <activity android:name=".kitlink.activity.RegionActivity" />
        <activity android:name=".kitlink.activity.WebActivity" />
        <activity android:name=".kitlink.activity.DeviceDetailsActivity" />
        <activity android:name=".kitlink.activity.SmartConnectActivity" />
        <activity android:name=".kitlink.activity.ControlPanelActivity" />
        <activity android:name=".kitlink.activity.BindMobilePhoneActivity" />
        <activity android:name=".kitlink.activity.AboutUsActivity" />
        <activity android:name=".kitlink.activity.HelpCenterActivity" />
        <activity android:name=".kitlink.activity.HelpWebViewActivity"
            android:launchMode="singleTop" />
        <activity
                android:name=".kitlink.activity.FeedbackActivity"
                android:windowSoftInputMode="adjustPan" />
        <activity android:name=".kitlink.activity.UserInfoActivity" />
        <activity android:name=".kitlink.activity.SetPasswordActivity" />
        <activity android:name=".kitlink.activity.GetCodeActivity" />
        <activity android:name=".kitlink.activity.ForgotPasswordActivity" />
        <activity android:name=".kitlink.activity.CountryCodeActivity" />
        <activity android:name=".kitlink.activity.SoftApActivity" />
        <activity android:name=".kitlink.activity.AddDeviceActivity" />
        <activity android:name=".kitlink.activity.RegisterActivity" />
        <activity android:name=".kitlink.activity.MessageActivity" /> <!-- 微信回调 -->
        <activity
                android:name=".kitlink.wxapi.WXEntryActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:taskAffinity="com.tencent.iot.explorer.link.kitlink"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity=".kitlink.wxapi.WXEntryActivity" />

        <!--picture start-->
        <activity
            android:name=".kitlink.util.picture.imageselectorbrowser.ImageSelectorBrowseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".kitlink.util.picture.imageselectorbrowser.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".kitlink.util.picture.clipimage.ClipPictureActivity" />
        <activity android:name=".kitlink.util.picture.clipimage.ImageSimpleBrowseActivity" />
        <!--picture end-->

        <receiver android:name=".MessageReceiver">
            <intent-filter>
                <action android:name="com.tencent.android.xg.vip.action.PUSH_MESSAGE" />
                <action android:name="com.tencent.android.xg.vip.action.FEEDBACK" />
            </intent-filter>
        </receiver> <!-- 腾讯地地图 meta-data -->
        <meta-data
                android:name="TencentMapSDK"
                android:value="${MAP_SDK_VALUE}" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>