name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew build
      - name: Package apk and aar with Gradle
        run: ./gradlew assembleRelease
      - name: Archive the generated Apk
        uses: actions/upload-artifact@v2
        with:
          name: apk
          path: app/build/outputs/apk/**/*.apk
      - name: Archive the generated Aar
        uses: actions/upload-artifact@v2
        with:
          name: aar
          path: tenextll/build/outputs/aar/*.aar
