name: Android Release CI

on:
  push:
    tags:
      - '*'

env:
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run:
          gpg -d --passphrase "${{ secrets.GPG_DECRYPT_PASSPHRASE }}" --batch release_keystore.jks.asc > release_keystore.jks
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Adapt build.gradle from debug to release
        run: |
          sed -i 's#opensource_keystore#release_keystore#g' app/build.gradle
          sed -i "s#'111222'#System.getenv(\"RELEASE_KEYSTORE_PASSWORD\")#g" app/build.gradle
          sed -i 's#sdk-debug#sdk-release#g' sdk/build.gradle
          sed -i 's#-SNAPSHOT##g' sdk/build.gradle
      - name: Build with Gradle
        run: ./gradlew build
      - name: Package apk and aar with Gradle
        run: ./gradlew assembleRelease
      - name: Publish aar to Maven
        run: ./gradlew publish
      - name: Upload apk to PGY
        run: |
          mv app/build/outputs/apk/release/app-release.apk app/build/outputs/apk/release/iot-link-android.apk
          curl -F 'file=@app/build/outputs/apk/release/iot-link-android.apk' -F '_api_key=${{ secrets.RELEASE_PGYER_API_KEY }}' https://www.pgyer.com/apiv2/app/upload